/* CSS reset */
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

/* Body style */
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size:16px;
    font-weight:400;
    line-height: 1.6;
    letter-spacing: 0.5px;
    background-color:#f2f8ff;
    color: #1a1a1a;
}

/*Main headings */
h1{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 3rem;
    font-weight: 700;
    line-height:1.2;
    letter-spacing:1px;
    color:#1a1a1a;
    margin-bottom: 20px;
}
h2{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 2.2rem;
    font-weight: 600;
    line-height:1.3;
    letter-spacing:0.8px;
    color:#004c91;
    margin-bottom: 15px;
}
h3{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    line-height:1.4;
    letter-spacing:0.5px;
    color:#004c91;
    margin-bottom: 10px;
}

/* Grid layout */
.grid{
    display:grid;
    grid-template-areas: 
         "header header"
         "nav nav"
         "hero hero"
         "about services"
         "enquiry enquiry"
         "contact contact"
         "footer footer";
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 20px;
}

/* Header */
header{
    grid-area: header;
    background-color: #004c91;
    color:white;
    text-align: center;
    padding: 25px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    position: sticky;
}
header h1{
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: 1px;
}

/* Navigation */
nav{
    grid-area: nav;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background-color:#0071ce;
    padding: 15px;
}

nav a{
    color:white;
    text-decoration: none;
    font-size: 1rem;
    font-weight:bold;
    padding: 10px 15px;
    border-radius:5px;
    transition:0.3s;
    letter-spacing: 0.5px;
}

/* Hover effect */
nav a:hover{
      background-color: #ffc220;
      color:black;
}

/* Active effect */
nav a:active{
     background-color: #003b70;
}
nav ul{
    display:flex;
    list-style: none;
    gap:20px;
}
nav ul li a{
    text-decoration:none;
    color:white;
    font-size:16px;
    padding: 8px 12px;
    border-radius:5px;
    transition: 0.3s;
}

/* Hero section */
.hero{
    grid-area: hero;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    background-color: #f2f8ff;
    padding: 50px;
    text-align: center;
    border-radius: 10px;
    border: 2px solid #d9e8f5;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}
.hero h1{
    font-size: 3rem;
    color:#004c91;
    margin-bottom:20px;
}

/* Hero image */
.hero img{
    width:100%;
    max-height:500px;
    object-fit:cover;
    border-radius:10px;
    margin-bottom: 20px;
}

/* About section */
.about{
    grid-area: about;
    background-color:white;
    padding:25px;
    border-radius: 10px;
    border:2px solid #d9e8f5;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}
.about h2{
    color:#0071ce;
    margin-bottom:15px;
}
.about img{
    width:100%;
    border-radius: 10px;
    margin-bottom: 15px;
}

/* Service section */
.services{
    grid-area:services;
    background-color:white;
    padding:25px;
    border-radius:10px;
    border:2px solid #d9e8f5;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}
.services h3{
    color:#0071ce;
    margin-bottom:15px;
}
.service img{
    width:150px;
    height:auto;
    border-radius:10px;
}

/* Enquiry */
.enquiry{
    grid-area: enquiry;
    background-color:white;
    padding: 30px;
    border-radius:10px;
    border: 2px solid #d9e8f5;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    text-align:center;
}
.enquiry h2{
    color:#0071ce;
    margin-bottom:20px;
}

form{
    background-color: #ffffff;
    padding:20px 40px;
    max-width: 600px;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align:center;
}

/* Input fields */
input, textarea{
    width:100%;
    padding: 12px;
    margin-top: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
}

label{
    margin-bottom:5px;
    font-weight:bold;
    color: #333;
    display:block;
}

input[type="text"], input[type="email"], input[type="number"]{
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="submit"]{
     background-color:#003b70;
     color:white;
     border: none;
     border-radius: 5px;
     cursor: pointer;
     padding: 10px 20px;
     font-size: 16px;
     transition: background-color 0.3s ease, transform 0.2 ease;
     width: 30%;
     box-sizing: border-box;
}

input[type="submit"]:hover{
    background-color:#003b70;
    transform: translateY(-2px);
}

input[type="submit"]:active{
    background-color:#0071ce;
    transform: translateY(0);
}

.error{
    color:red;
    font-weight:bold;
    margin-top: -10px;
    margin-bottom: 15px;
    display: block;
}

/* Response Box */
#responseBox{
    margin-top: 20px;
    padding: 15px;
    background: #e8f4ff;
    border-left: 5px solid #0071dc;
    display: none;
}


/* Contact section */
.contact{
    grid-area: contact;
    background-color:white;
    padding: 25px;
    border-radius: 10px;
    border: 2px solid #d9e8f5;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.contact h2{
    color:#0071ce;
    margin-bottom:15px;
}

/* Main content */
.content{
    background:white;
    padding:25px;
    border-radius:10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.container{
    width:90%;
    max-width:1200px;
    margin: 40px auto;
    padding:30px;
    background-color: lightskyblue;
    border-radius:12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

/* Cards */
.card{
    background-color: white;
    margin-bottom: 20px;
    padding:20px;
    border-left: 6px solid #0071ce;
    border-radius:8px;
    box-shadow:0 2px 8px rgba(0, 0, 0, 0.1);
    transition:0.3s;
}
.card:hover{
    transform:translateY(-5px);
    box-shadow: o 6px 12px rgba(0, 0, 0, 0.2);
}

/* Button */
button{
    background-color:#ffc220;
    color: black;
    border: none;
    padding: 12px 20px;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    display: block;
}

/* Button Hover */
button:hover{
    background-color: #e6ac00;
}

/* Button active */
button:active{
    transform: scale(0.98);
}

/*Images*/
img{
    width: 200px;
    height: auto;
    display: block;
    border-radius: 10px;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.2);
}

p{
    font-size: 1rem;
    line-height: 1.8;
    margin-bottom: 15px;
    letter-spacing:0.3px;
    font-weight:400;
}

/* Accordion */
.accordion{
    background-color:#0071ce;
    color: white;
    padding: 18px;
    font-size: 22px;
    font-weight:bold;
    border-radius: 10px;
    cursor:pointer;
    text-align: center;
    margin:20px 0;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}
.accordion:hover{
    background-color: #004c91;
    transform: scale(1.02);
}

.panel{
    display:none;
    background-color: aliceblue;
    padding:20px;
    border-left: 5px solid #ffc220;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Modale */
.modal{
    display:none;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0, 0, 0, 0.7);
}

.modal-content{
    background:white;
    width:300px;
    margin:15% auto;
    padding:20px;
}

/* Gallery style */
.gallery{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap:15px;
    justify-content: center;
    max-width: 900px; /* Oncreased container size */
    margin: 20px auto;
}

.gallery img{
    width: 100%;
    height: 200px; /*Increase the image height */
    object-fit: absolute;
    cursor:pointer;
    transition: transform 0.2s;
}

.gallery img:hover{
    transform: scale(1.05);
}

/* Lightbox Styles */

#lightbox{
    display:none;
    position:fixed;
    top:0;
    left:0;
    width: 100%;
    height:100%;
    background: rgba(0, 0, 0, 0.8);
}

#lightbox img{
    display:block;
    max-width: 80%;
    margin:50px auto;
}

#search{
    width: 60%;
    max-width: 600px;
    display:block;
    margin: 20px auto;
    padding: 15px 20px;
    font-size: 15px;
    border: 2px solid #0071ce;
    border-radius: 30px;
    outline:none;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transition:  all 0.3s ease;
}

#search:focus{
    border-color: #004c91;
    box-shadow: 0 0 12px rgba(0,113,206,0.4);
}

.search-title{
    text-align:center;
    color:#0071ce;
    font-size:28px;
    margin-top: 20px;
}

#suggestions{
    border: 1px solid #ccc;
    background: white;
    width: 300px;
    display: none;
}

#suggestions div{
    padding: 10px;
    cursor: pointer;
}

#suggestions div:hover{
    background: #f2f2f2;
}

/* Footer */
footer{
    background-color: #00274d;
    color:white;
    text-align:center;
    padding:20px;
    margin-top:20px;
}

/* Header and Footer Dimmed Style */
.dimmed{
    opacity:0.3;
    pointer-events: none; /* Disable interactions */
    transition: opacity 0.3s;
}

